<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChordingCoding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ChordingCoding.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Autumn</value>
            </setting>
            <setting name="Volume0" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Opacity0" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Volume1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Opacity1" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Volume2" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Opacity2" serializeAs="String">
                <value>100</value>
            </setting>
        </ChordingCoding.Properties.Settings>
    </userSettings>
</configuration>